package ${package.Service}.impl;

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import lombok.extern.slf4j.Slf4j;

import java.util.List;

/**
 * ${table.name}表实体
 * @author ${author}
 */
@Log4j2
@Service("${table.serverName.toLowerCase()}")
public class ${table.serviceName}Impl {

}
